<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.4286176400-tgr3lmaptp8kem4g4l8fne64l1icels0</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>4286176400-tgr3lmaptp8kem4g4l8fne64l1icels0.apps.googleusercontent.com</string>
</dict>
</plist>
